@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap');

:root {

     --clr-nutmeg: hsl(14, 45%, 36%);
     --clr-dark-ruspberry: hsl(332, 51%, 32%);
     --clr-white:  hsl(0, 0%, 100%);
     --clr-rose-white: hsl(330, 100%, 98%);
     --clr-Eggshell: hsl(30, 54%, 90%);
     --clr-Light-Grey: hsl(30, 18%, 87%);
     --clr-Wenge-Brown: hsl(30, 10%, 34%);
     --clr-Dark-Charcoal:  hsl(24, 5%, 18%);

}


body{
  font-family: 'Outfit', sans-serif;
  /* font-family: 'Young Serif', serif; */
  
  background-color: var(--clr-Eggshell);
  max-width: 800px;
  margin: 0 auto;
}

.container{
  display: flex;
  flex-direction: column;
  background-color: var(--clr-white);
  border-radius: 8px;
  padding: 40px;

}

img{
  border-radius: 10px;  
}

h2{
  color: var(--clr-nutmeg);
}
h3{
  color: var(--clr-dark-ruspberry);
}
h1, h2{
  font-family: 'Young Serif', serif;
  
}

.sub-container{
  background-color: var(--clr-rose-white);
  padding: 40px;
  border-radius: 8px;
}

.sub-container ul li::marker{
  color: var(--clr-dark-ruspberry);
}

p, li{
  color: var(--clr-Dark-Charcoal);
}

span{
  font-weight: 700;
  color: var(--clr-Dark-Charcoal);
}

li{
  padding: 10px;
}

 li::marker{
  color: var(--clr-nutmeg);
  font-weight: 700;

}

.line {
  border: 1px solid;
  color: var(--clr-Light-Grey);
}

/* table {
  border-collapse: collapse;
  width: 100%;
}
tr ,td{
  border: red;
} */

.data{
  display: grid;
  /* justify-content: space-evenly; */
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid var(--clr-Light-Grey);
  padding: 15px;
}

.data >:last-child{
  color:var(--clr-nutmeg);
  font-weight: 700;
}



@media screen and (max-width:600px) {
  .container{
    padding: 0;
  }

  .container>:not(:first-child){
    padding: 20px;
  }
  /* h1{
    padding: 20px;
  } */

  .line{
    padding: 0;
  }

  .sub-container{
    margin: 20px;
  }
  
}